@media(min-width: 768px) {
  .menu-icon-navigation-home {
    display: none;
  }

  .menu-icon-header-home {
    display: none;
  }

  .header-home {
    background-image: url("/projeto-tcc/templates/web/images/medicasa.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navigation-home {
    display: flex;
    align-items: normal;
    justify-content: flex-end;
    padding: 55px 75px 0px 0px;
  }

  .menu-home {
    display: flex;
    flex-flow: column;
    align-items: right;
    list-style: none;
    
  }

  .menu-home li {
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
    color: #FFF;
    text-align: right;
  }

  .menu-home li a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    /*text-shadow: rgb(95, 92, 92) 0.1em 0.1em 0.2em;*/
  }

  .menu-home li:hover {
    background-color: #FFF;
    box-shadow: 0 8px 6px -6px black;
    color: #8bc1c3;
    border-radius: 4%;
  }


  .infos {
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 82%; 
  }

  .info-box{
    background-color:  #8bc1c3;
    width: 305px;
    height: 303px;
    position: relative;
    bottom: 50px;
    left: 60px;
    border-bottom: black;
    border-radius: 2%;
    border-collapse: collapse;
    padding: 10px;
  }
  
  .info-box-imagem{
    width: 305px;
    height: 305px;
    border-radius: 2%;
    box-sizing: border-box;
    left: 20px;
  }

  /* Rodape */
  
  .rodape-title {
    font-size: 45px;
  }

  .ajuda-container {
    align-items: center;
  }

  .rodape {
    width: 100%;
    background-color: #8bc1c3;
    padding: 10px;
    color: #ffffff;
    /* position: absolute; */
    /* bottom: 0; */
  }
  
  .rodape-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-flow: row;
  }
  
  .rodape-main .info {
    /* width: 225px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  
  }
  
  .rodape-title {
    font-size: 45px;
  }

  .gmail {
    float: right;
  }
  
}

@media(min-width: 768px) {
  .titulo{
    color: #8bc1c3;
  }

  .items{
    display: flex;
    margin-top: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .subtitulo{
    font-size: 23px;
    position: absolute;
    top: -30px;
    color: #8bc1c3;
    height: 26px;
    min-width: 210px;
  }
  
  .items__mobile {
    display: none;
  }

  main{
      position: relative;
      /* margin-top: 50px; */
      padding: 50px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
  }

  .box-info{
    display: flex;
    flex-flow: column;
    border: 1px solid #8bc1c3;
    border-radius: 6px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 436px;
    background-color: #8bc1c3;
    position: relative;
    color: #FFF;
  }

  .box-info__content {
    padding: 5px;
  }

  .box-info {
    margin-right: 30px;
  }

  .box-info:last-child {
    margin-right: 0px;
  }
}

@media(min-width: 768px) {
  .menu-icon-navigation {
    display: none;
  }

  .menu-icon-header {
    display: none;
  }

  .header {
    background-color: #8bc1c3;
    height: 100%;
    max-height: 70px;
  }


}

@media(max-width: 816px) {
  .navigation {
    padding: 0 30px;
  }
}
@media(min-width: 768px) {
  .menu-icon-navigation {
    display: none;
  }

  .menu-icon-header {
    display: none;
  }

  .header {
    background-color: #8bc1c3;
    height: 100%;
    max-height: 70px;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* padding: 0 100px; */
  }

  .navigation__title {
    display: block;
    font-size: 35px;
    color: #FFF;
    margin-left: 20px;
  }

  .menu {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .menu li {
    font-size: 17px;
    padding: 10px;
    color: #FFF;
    margin-left: 30px
  }

  .menu li a {
    color: inherit;
    text-decoration: inherit;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em
  }

  .menu li:hover {
    background-color: #62a6aa;
    box-shadow: 0 8px 6px -6px black;
  }

  .menu li:last-child {
    margin-right: 30px;
  }

  .menu__mobile {
    display: none;
  }

  .navigation__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  .navigation__main a {
    margin-left: 20px;
  }

 /* Rodape */
 .rodape-title {
  font-size: 45px;
}

.ajuda-container {
  align-items: center;
}

.rodape {
  width: 100%;
  background-color: #8bc1c3;
  padding: 10px;
  color: #ffffff;

}

.rodape-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-flow: row;
}

.rodape-main .info {
  /* width: 225px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

}

.rodape-title {
  font-size: 45px;
}

.gmail {
  float: right;
}


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Arial", sans-serif;
  color: #8BC1C3;
}
/*
footer {
  background: #8BC1C3;
  width: 100%;
  text-align: center;
  color: white;
  /* margin-top: 5vw; */
  max-height: 250px;
  padding: 20px;
  padding-bottom: 30px;
  position: absolute;
  /* bottom: -130px; */
}

footer img {
  width: 10vw;
  margin-left: 5vw;
}

footer > div > div > p {
  font-size: 1.5em;
  margin: 2.5vw;
  margin-top: 5px
}

footer > div > div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.social {
  display: block;
  text-align: right;
}

.social > p#email {
  text-align: center;
}

.social > img {
  width: 40px;
}

.social > img.card {
  margin-left: 2vw;
}

.logo-footer{ 
  float: left;
  font-size: 30px;
  margin-top: 65px;
  position: absolute;
}

.duv-footer {
  text-align: center;
  font-size: 15px;
}*/

.form-group {
  display: grid;
  max-width: 500px;
  margin: 30px auto 0 auto;
  width: 100%;
}

.form-section h1 {
  margin: 20px auto 0 auto
}

[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

[type=file]{
  border: 1px solid #CCC;
  border-radius: 3px;
  text-align: left;
  width: 150px;
  margin: 0;
  left: 0;
  z-index: -1
}

[type=file] + label {
  text-align: center;
  background: white;
  border: 2px solid #8BC1C3;
  color: #8BC1C3;
  cursor: pointer;
  z-index: 0;
}
[type=file] + label:hover {
  background: #8BC1C3;
  color: white;
}

#curriculoLbl {
  padding: 10px;
  width: 200%;
  max-width: 360px;
}

.form-item {
  margin: 5px;
  text-align: left;
  display: inline-grid;
  grid-template-columns: repeat(2,auto);
  font-size: 18px;
  font-weight: bold;
}

.form-section {
  /* padding-top: 30px; */
  text-align: center;
}

 button{
  padding: 10px 50px 10px;
  margin: 25px 140px 0 auto;
  background: white;
  border: 2px solid #8BC1C3;
  color: #8BC1C3;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}/*.form-group > input */

.passInput {
  display: flex;
}

.passInput i {
  margin: auto;
  margin-left: 3px;
}

.fab {
  font-size: 30px;
  margin: 0 0 0 10px;
}

.form-item > div {
  display: grid;
  padding: 5px;
  
}

.form-item label {
  margin-top: 10px;
}

.form-item input,select {
  border: 1px solid #8BC1C3;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 3px 5px 9px #88888869;
  color: #8BC1C3;
  margin: 15px;
}

.logSection {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.logSection div:first-child {
  width: 70%;
}

.logSection div:first-child {
  background-color: #8BC1C3;
  display: grid;
}

.logSection div:first-child > div{
  text-align: center;
  width: 100%;
  margin-top: -30%;
  color: white;
}

.logSection div:first-child > div > select{
  padding: 2px 20px 2px 50px;
  border: 2px solid white;
  border-radius: 2px;
  color: #352828;
  font-weight: bold;
}

.logSection h1 {
  margin: 20px;
  color: white;
}

.logSection > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin-left: -15%;
  text-align: right;
}

.logSection > div:nth-child(2) > a {
  float: right;
  height: 1px;
  margin: 10px 20px 0 0;
  color: #8BC1C3;
}

.logSection > div:nth-child(2) > div {
  display: grid;
  margin: 0px auto auto;
  text-align: left;
}

.logSection > div:nth-child(2) > div > div > input, div:nth-child(2) > div > div > div > input {
  padding: 10px 10px 10px;
  background: white;
  border: 2px solid #8BC1C3;
  color: #8BC1C3;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer
}

.logSection label {
  margin: 5px;
  font-weight: bold;
}

.logSection > div:nth-child(2) > div > div {
  display: grid;
}

.logSection > div:nth-child(2) > div > div:nth-child(4) {
  text-align: center;
  margin: 20px;
}

.logSection > div:nth-child(2) > div > div:nth-child(4) > a {
  margin: 7px;
  font-size: 13px;
  color: #8BC1C3;
}

.logSection > div:nth-child(2) > div > h2 {
  text-align: center;
  margin: 20px;
  margin-top: -20px;
}


@media (max-width: 920px) {
  
  .social > img {
    margin-left: 4vw;
  }
  footer {
    bottom: auto;
  }

  .footerCadas {
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .social > img {
    margin-left: 8vw;
  }
}
/*
/* MENU 

.menu {
  background: #8BC1C3;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu > img {
  float: right;
  margin-top: 20px;
  margin-right: 5vw;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 75px;
  padding: 0 100px;
  font-weight: bold;
}

.menu > ul {
  float: right;
  margin-right: 20px;
}

.menu > ul > li {
  display: inline-block;
  line-height: 70px;
  margin: 0px 5px;
  text-shadow: 1px 1px 3px #00000070;
  font-weight: bold;
}

.menu > ul > li > a {
  color: white;
  font-size: 17px;
  border-radius: 3px;
  padding: 7px 13px;
  text-transform: uppercase;
  transition: 0.2s;
}

.menu a.active,
.menu a:hover {
  background: #62A6AA;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-right: 10px;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
*/
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 0px;
  }

  .menu > ul > li > a {
    font-size: 16px;
  }

}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  
  #curriculoLbl {
    max-width: 380px;
  }

  .menu > ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #8BC1C3;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    opacity: 80%;
    padding-top: 3vh;
  }

  .menu > ul > li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    margin-top: 12vh;
  }

  .menu > ul > li > a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #62A6AA;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .form-item {
    grid-template-columns: repeat(1,auto) !important;
  }

  .passInput > input {
    width: 100%;
  }
}

/*@media (max-width: 896px){

  .form-group2 {
    margin: 30px auto 0 auto !important;
    /*border-right: 0px !important;
    padding-bottom: 25px !important;
  }
  
  .form-section {
    grid-template-areas: "status" "titulo" "cartao" "detalhes" !important;
    align-content: center !important;
  }
  
  .form-group > input {
    margin: 25px auto 0 auto !important;
  }
  
  .form-group {
    margin: 30px auto 0 auto !important;
    border-right: 0px !important;
    padding-bottom: 30px !important;
  }

  .logSection {
	width: 100vw;
	grid-template-columns: repeat(1, auto);
  }

  .logSection div:first-child {
    width: 100%;
  }

  .logSection div:first-child > div {
    margin-top: 0;
  }

  .logSection > div:nth-child(2) {
    margin-left: 0;
  }
}*/