@media(min-width: 1201px) {
  
  /*corpo*/
  .main {
    background-color: rgba(139, 193, 195, 0.2);
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  a{
    color: white;
  }

  /*BOTÃO AGENDAMENTO*/
  .botao-agendamento {
    width: 230px;
    height: 230px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    background-color: #8bc1c3;
    top: -80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botao-agendamento .agendar{
    text-decoration-line: none;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
      
  /*COMEÇO 1º CONTEÚDO*/
  .infos {
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    
  }
  
  .info-box{
    background-color:  #8bc1c3;
    width: 350px;
    height: 350px;
    position: relative;
    bottom: 50px;
    left: 60px;
    border-bottom: black;
    border-radius: 2%;
    border-collapse: collapse;
    padding: 10px;
  }
  
  .info-box-imagem{
    width: 360px;
    height: 360px;
    border-radius: 2%;
    box-sizing: border-box;
    left: 20px;
  }
  
  .info-box .box-title{
    position: center;
    position: relative;
    color: #ffffff;
    top: 10px;
    font-size: 30px;
  }
  
  .info-box .box-description{
    color: #ffffff;
    font-size: 22px;
  }
  
  #segundo-box {
    margin-top: 10px;
  }

}

@media(min-width: 1024px) {
  .general-button{
    width: 150px;
    margin-left: 180px;
}
}

.general-button{
  padding: 10px 50px 10px;
  margin-top: 30px;
  background: white;
  border: 2px solid #8BC1C3;
  color: #8BC1C3;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 30px;
}/*.form-group > input */

