@media(max-width: 767px) {
	.header {
		position: relative;
	}
	
	.navigation {
		display: flex;
		align-items: center;
		position: relative;
		background-color: #8BC1C3;
		height: 100%;
		height: 70px;
		padding: 0 50px;
		align-items: center;
	}

	.navigation__title {
    display: block;
    font-size: 30px;
	color: #FFF;
	margin-left: 15px;
	}
	
	.navigation__main {
		position: absolute;
		right: 15px;
  }
	
	.menu {
		width: 100%;
		list-style: none;
	}

	.menu li {
		display: none;
	}
	
	.menu__mobile li {
		border-bottom: 2px solid #FFF;
		width: 100%;
		list-style: none;
	}
	
	.menu__mobile li a {
		color: #FFF;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
		line-height: 45px;
	}

	.menu__mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #8bc1c3;
		width: 100%;
		height: 352px;
		padding: 0px 30px 35px 30px;
		position: absolute;
		top: -387px;
		z-index: 1000;
	}
	
	.menu-icon-navigation {
			width: 44px;
			height: 44px;
			align-self: flex-end;
			position: relative;
			display: flex;
			opacity: 0;
			align-items: center;
			justify-content: center;
	}
	
	.menu-icon-header {
			width: 44px;
			height: 44px;
			display: flex;
			align-items: center;
			justify-content: center;
	}
	
	.menu-icon-image-header {
		width: 44px;
		height: 44px;
		display: block;
	}
	
	.menu__mobile[data-closed=true] {
			animation: close-navigation-mobile 900ms forwards;
	}
	
	.menu__mobile[data-closed=false] {
			animation: open-navigation-mobile 900ms forwards 100ms;
	}
	
	.menu-icon-navigation[data-closed=false] {
			animation: show-navigation-icon 700ms forwards 300ms;
	}
	
	.menu-icon-header[data-closed=true] {
			animation: hide-header-icon 100ms forwards;
	}
	
	.menu-icon-header[data-closed=false] {
			animation: show-header-icon 700ms forwards 200ms;
	}
	
	.menu-icon-image-header[data-closed=false] {
		animation: show-image-icon-header 700ms forwards 200ms;
	}
	
	.menu-icon-image-header[data-closed=true] {
		animation: hide-image-icon-header 700ms forwards 300ms;
	}
	
	@keyframes close-navigation-mobile {
			from {
					top: 0px;
			}
			to {
					top: -387px;
			}
	}
	
	@keyframes open-navigation-mobile {
			from {
				top: -387px;
			}
			to {
				top: 0px;
			}
	}
	
	@keyframes hide-navigation-icon {
			from {
					position: relative;
					right: 10px;
					opacity: 1;
			}
			to {
					right: 0px;
					opacity: 0;
			}
	}
	
	
	@keyframes show-navigation-icon {
			from {
					position: relative;
					left: 0px;
					opacity: 0;
					display: none;
			}
			to {
					left: 10px;
					opacity: 1;
					display: flex;
				}
	}
	
	@keyframes hide-header-icon {
			from {
					width: 44px;
					height: 44px;
					right: 10px;
			}
			to {
					width: 0px;
					height: 0px;
					border: none;
					right: 0px;
			}
	}
	
	@keyframes show-header-icon {
			from {
					width: 0px;
					height: 0px;
					right: 0px;
			}
			to {
					width: 44px;
					height: 44px;
					right: 10px;
			}
	}
	
	@keyframes show-image-icon-header {
		from {
			display: none;
			width: 0px;
			height: 0px;
		}
		to {
			width: 44px;
			height: 44px;
			display: block;
		}
	}
	
	@keyframes hide-image-icon-header {
		from {
			display: block;
			width: 44px;
			height: 44px;
		}
		to {
			width: 0px;
			height: 0px;
			display: none;
		}
	}

}	
