<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MediCasa - administração</title>
        <link rel="stylesheet" type="text/css"   href="./css/style.css" >
        <link rel="icon" href="./img/fav.png">
    </head>
    <body>
        <header>
            <div id="cabecalho">
                <p class="medic"><span>MediCasa</span></p>
           <img src="img/perficon.svg "  class="user"  >
        </div>
        </header>
  
        <div id="container">
            <div id="box-1" class="box">Usuários</div>
            <div id="box-2" class="box">Colaboradores</div>
            <div id="box-3" class="box">Administradores</div>
        </div>

        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder=""/>
            <img src="img/lupa.png" id="btnBusca" />
          </div>
       
          <table id="customers">
            <tr>
              <th>&nbsp Nome  <img src="img/more.png" id="btnmore" /></th>
            </tr>
            <tr>
                <td>&nbsp Nome do requisitado  <img src="img/close.png" id="btnclose" /></td>
                
            </tr>
            <tr>
                <td>&nbsp Nome do requisitado  <img src="img/close.png" id="btnclose" /></td>
            </tr>
            <tr>
                <td>&nbsp Nome do requisitado  <img src="img/close.png" id="btnclose" /></td>
               
            </tr>
          </table>

        





           <!--RODAPÉ-->
     <footer>
        <h1 class="medi"><strong>MediCasa©</strong></h1>
        <h2 class="direitos">Todos direitos Reservados 2020</h2>
     </footer>
    </body>
</html>
    </body>