<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MediCasa - Login Adm</title>
        <link rel="stylesheet" type="text/css"   href="css/styleLogin.css">
        <link rel="icon" href="./img/fav.png"/>
    </head>
    <body>
            <div id="cabecalho">
                <p class="medic"><span>MediCasa</span></p>
                <p class="adm"><span>Administrador</span></p>      
        </div>

        
        <form action="index.html" class="login-form" id="cone">
            <h1>Conecte-se</h1>
    
            <div class="txtb">
                <p class="email"><span>O email</span></p>
              <input type="text" placeholder="seunome@email.com">
              <span data-placeholder="Username" >
            </div>
    
            <div class="txtb" >
                <p class="Senha"><span>Senha</span></p>
              <input type="password" placeholder="**********">
              <span data-placeholder="Password" ></span>
            </div>
           
            <input type="submit" class="logbtn" value="Entrar">
            <div class="bottom-text">
                <a >Esqueceu sua senha?
                </a>
              </div>
        </form>
    
           

          

    </body>